.logo {
  & img {
    height: 40px;
  }
}

.header {
  z-index: 1;
  margin-top: -60px;
  position: fixed;
  width: 100%;
  background-color: #fff;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.navbar {
  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    padding: 15px 10px 0 10px;
    height: 60px;

    transition: 0.4s;
    &:hover {
      background-color: black;

      .navbar__link {
        color: #e0002d;
      }
    }
  }

  &__link {
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 500;
    color: black;
    transition: 0.4s;
  }
}

.user {
  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    & + & {
      margin-left: 20px;
    }
  }

  &__link {
    font-size: 30px;
    color: black;

    &:hover {
      color: #e0002d;
    }
  }
}

.person {
  position: relative;

  &__wrapper {
    font-size: 30px;
    color: black;

    &:hover .person__icon {
      color: #e0002d;
    }
  }

  &__submenu {
    visibility: hidden;
    position: absolute;
    background-color: #fff;
    width: 220px;
    margin-left: -90px;
    padding: 0 30px 0 30px;

    &-show {
      visibility: visible;
    }

    &-item {
      padding: 10px 0;
      cursor: pointer;

      & + & {
        border-top: 1px solid #e0002d;
      }
    }

    & a {
      text-decoration: none;
      font-size: 18px;
      color: rgb(68, 66, 66);
    }
  }
}
