@import "../vars";

.logo {
  z-index: 3;
  width: 80px;
  & img {
    width: 100%;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 40;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $light;
    z-index: 3;
  }

  &__inner {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__menu {
    display: flex;
    align-items: center;
    width: 65%;
    justify-content: space-between;
    z-index: 3;
  }

  &__item {
    padding: 0 10px;
    cursor: pointer;

    transition: 0.4s;
    &:hover .header__link {
      color: $accent-color;
    }
  }

  &__list {
    display: flex;
    align-items: center;
  }

  &__link {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 3px;
    color: $dark;
    transition: 0.4s;
  }

  &__burger {
    display: none;
  }
}

.user {
  z-index: 3;
  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    margin: 0 10px;
  }

  &__link {
    font-size: 30px;
    color: $dark;

    &:hover {
      color: $accent-color;
    }
  }
}

.users {
  display: flex;
}

.person {
  position: relative;

  &__wrapper {
    font-size: 30px;
    color: $dark;

    &:hover .person__icon {
      color: $accent-color;
    }
  }

  &__submenu {
    visibility: hidden;
    position: absolute;
    background-color: $light;
    width: 220px;
    margin-left: -90px;
    padding: 0 30px 0 30px;

    &-show {
      visibility: visible;
    }

    &-item {
      padding: 10px 0;
      cursor: pointer;

      & + & {
        border-top: 1px solid $accent-color;
      }
    }

    a {
      text-decoration: none;
      font-size: 18px;
      color: rgb(68, 66, 66);
    }
  }
}

@media (max-width: 767px) {
  .header {
    &__inner {
      height: 50px;
    }

    &__logo {
      width: 55px;
    }

    &__link {
      color: $light;
      font-size: 24px;
    }

    &__burger {
      margin-right: 10px;
      display: block;
      position: relative;
      width: 30px;
      height: 20px;
      position: relative;
      z-index: 3;

      &::before,
      &::after {
        content: "";
        background-color: $dark;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.5s ease 0s;
      }

      & span {
        position: absolute;
        background-color: $dark;
        top: 9px;
        left: 0;
        width: 100%;
        height: 2px;
        transition: all 0.5s ease 0s;
      }

      &::before {
        top: 0;
      }

      &::after {
        bottom: 0;
      }

      &.active::before {
        transform: rotate(45deg);
        top: 9px;
      }
      &.active::after {
        transform: rotate(-45deg);
        bottom: 9px;
      }

      &.active span {
        transform: scale(0);
      }
    }

    &__menu {
      flex-direction: column;
      position: fixed;
      justify-content: start;
      align-items: start;
      top: -100%;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $dark;
      padding: 70px 10px 20px 10px;
      transition: all 0.3s ease 0s;
      overflow: auto;
      z-index: 2;

      &.active {
        top: 0;
      }
    }

    &__list {
      display: block;
    }
  }

  .user {
    &__list {
      flex-direction: row-reverse;
    }

    &__link {
      color: $light;
    }
  }

  .person {
    &__icon {
      visibility: hidden;
    }

    &__submenu {
      padding: 0;
      visibility: visible;
      background-color: inherit;
      color: $light;

      &-item {
        padding: 0;
        & + & {
          border: none;
        }
      }

      a {
        color: $light;
        font-size: 23px;

        &:hover {
          color: $accent-color;
        }
      }
    }
  }
}
