.intro {
  padding: 40px 0;
  margin: 0 auto;

  &__link {
    max-height: 400px;
    width: 100vw;
    padding: 0 10px;
  }

  & img {
    width: inherit;
    height: inherit;
    object-fit: cover;
  }
}

.slick-arrow {
  display: none !important;
}

@media (max-width: 767px) {
  .intro {
    padding: 0;
  }
}
