@import "./vars";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 60px 0 0 0;
  font-family: $main-font;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 15px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

@media (max-width: 767px) {
  body.lock {
    overflow: hidden;
  }
}
